@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');
.bigh1{
    font-family: 'Akronim', cursive;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header{
    display: flex;
    position: fixed;
    flex-direction: row;
    height: 10vh;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.logothankyou{
    display: flex;
    width: 3.5%;
    margin-left: -35%;
}

.bigh1{
    display: flex;
    margin-left: 25%;
    font-size: 3rem;
    text-align: justify;
    color: white;
}

nav{
    display: flex;
    width: 100%;
    position: fixed;
    margin-top: 10vh;
    border: 1px solid aquamarine;
    height: 6vh;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    background-color: rgb(172, 255, 230);
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    display: flex;
    margin: 2vh;
    width: 20vh;
    height: 7vh;
    justify-content: center;
    align-items: center;
}

nav ul li a:hover{
    background-color:hsl(86, 100%, 50%);
    border-radius: 1vh;
    transition: 1s ease;
    box-shadow: hsl(86, 100%, 50%) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    height: 5vh;
    width: 20vh;
    justify-content: center;
    align-items: center;
    color: white;
}

nav ul li a{
    display: flex;
    text-decoration: none;
    font-size: 1.2rem;
}

.content1{
    display: flex;
    margin-top: 20vh;
}

.home1{
    display: flex;
    flex-direction: row;
}

.home1 h2{
    position: absolute;
    display: flex;
    font-size: xx-large;
    margin-left: 60vh;
}

.informationhome1{
    display: flex;
}

.informationhome1 p{
    display: flex;
    margin-top: 20vh;
    height: auto;
    margin-left: 10vh;
    position: absolute;
    font-size: 1.3rem;
    width: 800px;
}

.mylogo1{
    width: 500px;
    height: 500px;
    margin-left: 130vh;
}

/* this is part for member of html */

.content2{
    display: flex;
    margin-top: 10%;
    flex-wrap: wrap;
}

.card{
    box-sizing: border-box;
    width: 80%;
    display: flex;
    flex-direction: column;
    border: 1px solid aquamarine;
    background-color: aqua;
    margin: 0 auto;
    border-radius: 2vh;
    margin-bottom: 3%;
    box-shadow: rgba(255, 255, 255, 0.096) 0px -23px 25px 0px inset, rgba(0, 255, 255, 0.15) 0px -36px 30px 0px inset, rgba(0, 255, 234, 0.1) 0px -79px 40px 0px inset, rgba(0, 255, 128, 0.06) 0px 2px 1px, rgba(0, 238, 255, 0.09) 0px 4px 2px, rgba(0, 255, 170, 0.09) 0px 8px 4px, rgba(0, 238, 255, 0.09) 0px 16px 8px, rgba(194, 255, 240, 0.09) 0px 32px 16px;
}

.card-title{
    display: flex;
    background-color: aquamarine;
    border-radius: 2vh 2vh 0 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.card-title h3{
    margin-left: 40%;
}
.card-body{
    display: flex;
    width: 100%;
    margin-top: -3%;
    padding: 3%;
}

.detailinformation{
    width: 50%;
    display: flex;
    flex-direction: row;
    border: 1px solid aquamarine;
    margin-right: 3.5%;
}

.detailinformation ul{
    display: flex;
    flex-direction: column;
}

.detailinformation ul li{
    display: flex;
    text-decoration: none;
    margin-top: 10%;
}
.img1{
    width: 20%;
    border: 1px solid aquamarine;
    margin: 0;
    margin-left: 20%;
    padding: 0;
    border-radius: 2vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.card-footer{
    display: flex;
    margin-top: -3%;
    justify-content: space-between;
    padding: 3%;
}

.nickname{
    display: flex;
    border: 1px solid aquamarine;
    width: 80%;
}

.nameofnickname{
    border: 1px solid aquamarine;
    padding: 1% 0;
    width: 80%;
}

.logoofnickname{
    width: 20%;
    border: 1px solid aquamarine;
}

.score{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    border: 1px solid aquamarine;
}
/* this is part for event of html */

.content3{
    margin-top: 7.55%;
    width: 100%;
    height: 90vh;
}
table{
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    width: 90%;
    margin-top: 5%;
    border-collapse:collapse;
    background-color: hsl(86, 100%, 50%);
}

.thedateofbox{
    font-size: large;
}

th,td{
    padding: 1.5%;
    border: 0.1px solid;
    
}

tr{
    width: 100%;
}

.startbox1{
    width: 20%;
}


@media(Orientation:portrait){
    @import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');
    p{
        font-family: 'Freehand', cursive;
    }
    body{
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }
    .container{
        display: flex;
        width: 100%;
    }
    .header{
        display: flex;
        height: 10vh;
    }
    .logothankyou{
        display: flex;
        width: 10%;
        margin-left: 1%;
    }
    .bigh1{
        display: flex;
        font-size: 3rem;
        margin-left: 5%;
    }
    nav{
        display: flex;
    }
    nav ul li{
        display: flex;
        margin: 2vh;
        flex-wrap: wrap;
        width: 10vh;
        height: 4vh;
    }
    nav ul li a{
        display: flex;
        font-size: 1rem;
    }
    nav ul li a:hover{
        background-color: greenyellow;
        border-radius: 1vh;
        transition: 1s ease;
        box-shadow: rgb(157, 255, 0) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        height: 4vh;
        width: 15vh;
        justify-content: center;
        align-items: center;
        color: white;
    }
    
    .mylogo1{
        margin:60px auto;
        width: 75%;
        height: 55vh;
        border: none;
        position: absolute;
        margin-left: 15vh;
    }
    .informationhome1{
        display: flex;
        flex-direction: row;
        margin-left: 5vh;
    }
    .informationhome1 p{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20vh;
        border: 1px solid;
        border-color: aquamarine;
        padding: 1vh;
        box-shadow: rgba(0, 255, 34, 0.35) 0px -50px 36px -28px inset;
        border-radius: 0 5vh 0 5vh;
        width: 300px;
        height: auto;
        margin-left: -1.5vh;
        font-size: small;
        
    }
    .home1 h2{
        margin-left: 6.5vh;
        border: none;
    }
    /* this is part for member of html */

    .card{
        margin-top: 15%;
    }

    .card-title h3{
        margin-left: 25%;
    }

    .card-body{
        display: flex;
        flex-wrap: wrap;
    }

    .detailinformation{
        width: 90%;
        font-size: 0.8rem;
        border: none;
    }

    .img1{
        width: 30%;
        margin: auto;
        border: none;
        border-radius: 2vh;
        margin-right: 10%;
    }

    .card-footer{
        margin-top: -30%;
        font-size: 0.8rem;
        margin-bottom: 20%;
    }
    .nickname{
        width: 40%;
    }
    
    .score{
        margin-right: 40%;
    }
    /* this is part for table of html */
    table{
        margin-top: 20%;
    }
    
}
