* {
    box-sizing: border-box;
  }
@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');
.bigh1{
    font-family: 'Akronim', cursive;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.logoofthankyou{
    text-align: center;
}
.logoofthankyou img{
    width: 5%;
}
.headeroflogo{
    display: flex;
    background-color: aquamarine;
}
.header{
    position: fixed;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: aquamarine;
}
.navofhome{
    width: 100%;
    border: 1px solid rgb(0, 255, 170);
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    background-color: rgb(172, 255, 230);
}

.navofhome ul{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navofhome ul li{
    margin: 0 1%;
    flex-wrap: wrap;
}
.navofhome ul li a{
    display: flex;
    text-decoration: none;
    flex-wrap: wrap;
}
.navofhome ul li a:hover{
    background-color:hsl(86, 100%, 50%);
    border-radius: 0.5vh;
    transition: 1s ease;
    box-shadow: hsl(86, 100%, 50%) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    justify-content: center;
    align-items: center;
    color: white;
}
/*   part of home of html   */
.content1{
    margin-top: 20vh;
}
.content1 h2{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    text-align: center;
    margin: auto;
    margin-top: 5%;
}
.informationcontent1{
    display: flex;
    flex-wrap: wrap;
}
.informationcontent1 p{
    padding: 5%;
    width: 40%;
    text-align: center;
    margin-top: 15%;
    margin-left: 5%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: rgb(183, 255, 231);
    border-radius:0 80% 80% 0;
}
.informationcontent1 img{
    width: 45%;
    margin-right: 10%;
}

/* this is part for member of html */
.content2{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.lookformember{
    text-align: center;
    width: 90%;
    margin: auto;
    margin-top: 20%;
    margin-bottom: 2%;
    box-shadow: rgba(255, 255, 255, 0.096) 0px -23px 25px 0px inset, rgba(0, 255, 255, 0.15) 0px -36px 30px 0px inset, rgba(0, 255, 234, 0.1) 0px -79px 40px 0px inset, rgba(0, 255, 128, 0.06) 0px 2px 1px, rgba(0, 238, 255, 0.09) 0px 4px 2px, rgba(0, 255, 170, 0.09) 0px 8px 4px, rgba(0, 238, 255, 0.09) 0px 16px 8px, rgba(194, 255, 240, 0.09) 0px 32px 16px;
    background-color: rgb(232, 250, 255);
    border-radius: 2vh;
}
.lookformember button{
    border-radius: 1vh;
    border: 1px solid rgb(204, 204, 204);
}
.lookformember  a{
    text-decoration: none;
}
.lookformember button:hover{
    background-color:hsl(86, 100%, 50%);
    transition: 1s ease;
    border: none;
    box-shadow: hsl(86, 100%, 50%) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.card{
    width: 90%;
    margin: auto 10%;
    background-color: rgb(209, 253, 255);
    border-radius: 2vh;
    margin-bottom: 3%;
    box-shadow: rgba(255, 255, 255, 0.096) 0px -23px 25px 0px inset, rgba(0, 255, 255, 0.15) 0px -36px 30px 0px inset, rgba(0, 255, 234, 0.1) 0px -79px 40px 0px inset, rgba(0, 255, 128, 0.06) 0px 2px 1px, rgba(0, 238, 255, 0.09) 0px 4px 2px, rgba(0, 255, 170, 0.09) 0px 8px 4px, rgba(0, 238, 255, 0.09) 0px 16px 8px, rgba(194, 255, 240, 0.09) 0px 32px 16px;
}
.card-title{
    display: flex;
    background-color: aquamarine;
    border-radius: 2vh 2vh 0 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}
.card-title h3{
    margin: auto;
    padding: 2%;
}
.card-body{
    display: flex;
    width: 100%;
    padding-top: 2%;
}

.detailinformation{
    width: 50%;
    display: flex;
    flex-direction: row;
}

.detailinformation ul{
    display: flex;
    flex-direction: column;
}

.detailinformation ul li{
    list-style: none;
    margin-top: 10%;
}
.img1{
    width: 30%;
    border: 1px solid aquamarine;
    border-radius: 2vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.card-footer{
    margin:2% auto;
}
.card-footer h3{
    background-color: aquamarine;
    text-align: center;
}
.nickname{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nameofnickname span{
    color: gold;
    border-radius: 2px;
    background-color: rgb(1, 95, 48);
}
.logoofnickname{
    width: 10%;
}
.score{
    text-align: center;
}
.totalscore span{
    color: gold;
    border-radius: 2px;
    background-color: rgb(1, 95, 48);
}
.currentscore span{
    color: blue;
}
.workofmember h3{
    margin: 0;
    background-color: aquamarine;
    text-align: center;
}
.thework{
    border: 2px solid aquamarine;
    margin: 1% 2% 2.5% 2%;
}
.description{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.textofwork{
    width: 40%;
    margin: 2%;
}
.imgofwork{
    width: 40%;
}
.imgofwork img{
    width: 100%;
    margin: 3%;
}
/* this is part for event of html */
.content3{
    margin-top: 15%;
}
.content3 table{
    background-color: rgb(209, 253, 255);
    box-shadow: rgba(255, 255, 255, 0.096) 0px -23px 25px 0px inset, rgba(0, 255, 255, 0.15) 0px -36px 30px 0px inset, rgba(0, 255, 234, 0.1) 0px -79px 40px 0px inset, rgba(0, 255, 128, 0.06) 0px 2px 1px, rgba(0, 238, 255, 0.09) 0px 4px 2px, rgba(0, 255, 170, 0.09) 0px 8px 4px, rgba(0, 238, 255, 0.09) 0px 16px 8px, rgba(194, 255, 240, 0.09) 0px 32px 16px;
    width: 90%;
    margin: auto;
    margin-top: 2%;
    border-collapse:collapse;
}
.content3 th,td{
    padding: 1.5%;
    border: 0.1px solid;
}
.startbox1{
    width: 20%;
    font-weight: 550;
}
/*       part for about us of html */
.containerabout{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.logoofthankyou{
    text-align: center;
}
.logoofthankyou img{
    width: 5%;
}
.headeroflogo{
    display: flex;
    background-color: aquamarine;
}
.headerabout{
    position: fixed;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: aquamarine;
}
.navofabout{
    width: 100%;
    border: 1px solid rgb(0, 255, 170);
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    background-color: rgb(172, 255, 230);
}

.navofabout ul{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navofabout ul li{
    margin: 2.5% 1%;
    margin-bottom: 0;
    flex-wrap: wrap;
}
.navofabout ul li a{
    display: flex;
    text-decoration: none;
    flex-wrap: wrap;
}
.navofabout ul li a:hover{
    background-color:hsl(86, 100%, 50%);
    border-radius: 0.5vh;
    transition: 1s ease;
    box-shadow: hsl(86, 100%, 50%) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    justify-content: center;
    align-items: center;
    color: white;
}
.content4{
    margin-top: 10%;
}
.content4 p{
    margin: 2%;
}
.aboutimg1{
    margin:2% auto;
    width: 70%;
}
.aboutimg1 img{
    border-radius: 2vh;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.aboutimg2{
    margin:2% auto;
    width: 70%;
}
.aboutimg2 img{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 2vh;
}
.aboutusinformation h3{
    text-align: center;
    padding: 0.5%;
    border-radius: 2vh;
    background-color: aquamarine;
}
@media only screen and (max-width:800px) {
    /* For tablets: */
    @import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');
    p{
        font-family: 'Freehand', cursive;
    }
    body{
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }
    .container{
        display: flex;
        width: 100%;
    }
    .logoofthankyou img{
        width: 10%;
    }
    /* part for home of html */
    .content1 h2{
        margin-top: 10%;
        font-size: 90%;
    }
    /* this is part for member of html */
    .lookformember{
        margin-top: 25%;
        margin-bottom: 5%;
    }
    .detailinformation{
        width: 65%;
        border: none;
    }
    .img1{
        width: 30%;
        border-radius: 2vh;
    }
    .logoofnickname {
        width: 10%;
    }
    /* this is part for table of html&event */
    .content3{
        margin-top: 25%;
    }
    
}
@media only screen and (max-width:500px) {
    /* For mobile phones: */
    .logoofthankyou img{
        width: 10%;
    }
    .navofhome ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .navofhome ul li a{
        margin: 2% auto;
    }
    /* part for home of html */
    .content1 h2{
        margin-top: 50%;
        font-size: 90%;
    }
    .informationcontent1 p{
        border-radius: 0%;
        width: 80%;
    }
    .informationcontent1 img{
        width: 70%;
    }
    /* part for member of html */
    .lookformember{
        margin-top: 80%;
    }
    ul li a{
        display: flex;
        margin:0 3%;
    }
    .logoofthankyou img{
        width: 15%;
    }
    .card{
        margin-top: 10%;
    }
    .card-body{
        display: flex;
        flex-direction: column;
    }
    .detailinformation ul li{
        font-size: 90%;
    }
    .img1{
        margin: auto;
        width: 50%;
    }
    /*   part for event of html */
    .content3{
        margin-top: 70%;
    }
    .content3 table{
        margin-top: 2%;
    }
    /*    part for aboutus of html */
    .navofabout ul{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .navofabout ul li a{
        margin: 2% auto;
    }
    .content4{
        margin-top: 60%;
    }
    .description{
        display: flex;
        flex-direction: column;
    }
    .textofwork{
        width: 80%;
        margin: auto;
    }
    .imgofwork{
        width: 80%;
        margin: auto;
    }
}
