@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');
.bigh1{
    font-family: 'Akronim', cursive;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.logoofthankyou{
    width: 50%;
    margin: auto 5%;
}
.logoofthankyou img{
    width: 8%;
}
.bigh1{
    width: 50%;
    margin-right: auto;
    color: white;    
}
.headeroflogo{
    display: flex;
    width: 100%;
    margin: auto;
    height: 10vh;
    background-color: aquamarine;
}
.header{
    position: fixed;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: aquamarine;
}
.navofhome{
    width: 100%;
    border: 1px solid rgb(0, 255, 170);
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
    background-color: rgb(172, 255, 230);
}

.navofhome ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.navofhome ul li{
    display: flex;
    margin: auto 3%;
}

.navofhome ul li a:hover{
    background-color:hsl(86, 100%, 50%);
    border-radius: 0.5vh;
    transition: 1s ease;
    box-shadow: hsl(86, 100%, 50%) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    justify-content: center;
    align-items: center;
    color: white;
}

.navofhome ul li a{
    display: flex;
    text-decoration: none;
}
/*   part of home of html   */
.content1{
    margin-top: 20vh;
}
.content1 h2{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    text-align: center;
    margin: auto;
}
.informationcontent1{
    display: flex;
}
.informationcontent1 p{
    padding: 5%;
    width: 60%;
    text-align: center;
    margin-top: 15%;
    margin-left: 5%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: rgb(183, 255, 231);
    border-radius:0 80% 80% 0;
}
.informationcontent1 img{
    width: 40%;
    margin-right: 10%;
}

/* this is part for member of html */
.content2{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.lookformember{
    text-align: center;
    width: 90%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 2%;
    box-shadow: rgba(255, 255, 255, 0.096) 0px -23px 25px 0px inset, rgba(0, 255, 255, 0.15) 0px -36px 30px 0px inset, rgba(0, 255, 234, 0.1) 0px -79px 40px 0px inset, rgba(0, 255, 128, 0.06) 0px 2px 1px, rgba(0, 238, 255, 0.09) 0px 4px 2px, rgba(0, 255, 170, 0.09) 0px 8px 4px, rgba(0, 238, 255, 0.09) 0px 16px 8px, rgba(194, 255, 240, 0.09) 0px 32px 16px;
    background-color: rgb(232, 250, 255);
    height: 10vh;
    border-radius: 2vh;
}
.lookformember button{
    border-radius: 1vh;
    border: 1px solid rgb(204, 204, 204);
}
.lookformember  a{
    text-decoration: none;
}
.lookformember button:hover{
    background-color:hsl(86, 100%, 50%);
    transition: 1s ease;
    border: none;
    box-shadow: hsl(86, 100%, 50%) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.card{
    width: 90%;
    margin: auto 10%;
    background-color: rgb(209, 253, 255);
    border-radius: 2vh;
    margin-bottom: 3%;
    box-shadow: rgba(255, 255, 255, 0.096) 0px -23px 25px 0px inset, rgba(0, 255, 255, 0.15) 0px -36px 30px 0px inset, rgba(0, 255, 234, 0.1) 0px -79px 40px 0px inset, rgba(0, 255, 128, 0.06) 0px 2px 1px, rgba(0, 238, 255, 0.09) 0px 4px 2px, rgba(0, 255, 170, 0.09) 0px 8px 4px, rgba(0, 238, 255, 0.09) 0px 16px 8px, rgba(194, 255, 240, 0.09) 0px 32px 16px;
}
.card-title{
    display: flex;
    background-color: aquamarine;
    border-radius: 2vh 2vh 0 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}
.card-title h3{
    margin-left: 40%;
}
.card-body{
    display: flex;
    width: 100%;
    padding-top: 2%;
}

.detailinformation{
    width: 50%;
    display: flex;
    flex-direction: row;
    margin-right: 3.5%;
}

.detailinformation ul{
    display: flex;
    flex-direction: column;
}

.detailinformation ul li{
    list-style: none;
    margin-top: 10%;
    font-size: 100%;
}
.img1{
    width: 30%;
    border: 1px solid aquamarine;
    border-radius: 2vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.card-footer{
    margin:2% auto;
}
.card-footer h3{
    background-color: aquamarine;
    text-align: center;
}
.nickname{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nameofnickname span{
    color: gold;
    border-radius: 2px;
    background-color: rgb(1, 95, 48);
}
.logoofnickname{
    width: 10%;
}
.score{
    text-align: center;
}
.totalscore span{
    color: gold;
    border-radius: 2px;
    background-color: rgb(1, 95, 48);
}
.currentscore span{
    color: blue;
}
.workofmember h3{
    margin: 0;
    background-color: aquamarine;
    text-align: center;
}
.textofwork h4,.textofwork p,.textofwork h5{
    margin: auto 3%;
}
/* this is part for event of html */
.content3 table{
    width: 90%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    margin-top: 10%;
    border-collapse:collapse;
    background-color: aqua;
}
.content3 th,td{
    padding: 1.5%;
    border: 0.1px solid;
}
.startbox1{
    width: 20%;
    font-weight: 550;
}
@media(max-width:768px){
    @import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');
    p{
        font-family: 'Freehand', cursive;
    }
    body{
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }
    .container{
        display: flex;
        width: 100%;
    }
    /* part for home of html */
    /* this is part for member of html */
    .lookformember{
        margin-top: 20%;
        margin-bottom: 5%;
    }
    .detailinformation{
        width: 65%;
        border: none;
    }
    .img1{
        width: 30%;
        border-radius: 2vh;
    }
    .logoofnickname {
        width: 10%;
    }
    /* this is part for table of html&event */
    .content3 table{
        margin-top: 20%;
    }
    
}
@media(max-width:580px){
    /* part for home of html */
    .informationcontent1 p{
        border-radius: 0%;
    }
    /* part for member of html */
    .lookformember{
        margin-top: 30%;
    }
    ul li a{
        display: flex;
        margin:0 3%;
    }
    .logoofthankyou img{
        width: 15%;
    }
    .card-body{
        display: flex;
        flex-direction: column;
    }
    .img1{
        margin: auto;
        width: 50%;
    }
    /*   part for event of html */
    .content3 table{
        margin-top: 30%;
    }
}
